@define-color bgcolor transparent;	     /* background color */
@define-color fgcolor #eee8d5;           /* foreground color */
@define-color charging #07fb05;          /* battery charging color */
@define-color plugged #acfcad;           /* ac plugged color */
@define-color critical #ff0000;          /* critical color */
@define-color warning #f3f809;           /* warning color */
@define-color hover #94a6e3;             /* mouse hover over workspace color */
@define-color bgfocus #5e5873;           /* unfocused workspace color background */
@define-color fgfocus #a2baef;           /* unfocused workspace color foreground */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    font-family: 'Source Han Sans CN', 'FiraCode Nerd Font';
    font-size: 16px;
    font-stretch: condensed;
    margin: 0;
    padding: 0;
}

tooltip {
    background: rgba(43, 48, 59, 0.9);
    border: 1px solid rgba(100, 114, 125, 0.9);
    border-radius: 4px;
}

tooltip label {
    color: white;
    font-size: 14px;
    font-family: 'FiraCode Nerd Font', 'Source Han Sans CN';
}

#waybar {
    background: rgba(0, 0, 0, 0.1);
    color: @fgcolor;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 5px 4px 5px 5px rgba(0, 0, 0, 0.5), 5px 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#workspaces button {
    padding-left: 8px;
    padding-right: 8px;
    color: @fgcolor;
}

#workspaces button:hover {
    background: transparent;
    color: @fgcolor;
    border: none;
}

#custom-weather,
#custom-vpn,
#custom-updates,
#memory,
#cpu,
#temperature,
#wireplumber,
#custom-vpn,
#disk,
#battery,
#bluetooth,
#clock,
#mpd,
#idle_inhibitor,
#network {
    background: @bgcolor;
    color: @fgcolor;
    padding-left: 8px;
    padding-right: 8px;
}

#disk.critical, #temperature.critical, #cpu.critical, #memory.critical {
    color: @critical;
}

#battery.plugged {
    background-color: @bgcolor;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink-warn {
    to {
        color: @warning;
    }
}

@keyframes blink-critcal {
    to {
        color: @critical;
    }
}

#battery.warning:not(.charging) {
    animation-name: blink-warn;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    animation-name: blink-critcal;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}