window#settings .settings {

  .controls {
    padding-top: 8px;

    box .icon,
    box .arrow {
      min-width: 24px;
      // background: red;
    }

    trough {
        all:unset;
        transition: 200ms;
        border-radius: 100px;
        background-color: $overlay_blur;
        border: 1px solid $overlay;
        min-height: 10px;

        highlight, progress {
            all: unset;
            background-color: $text;
            border-radius: 100px;
            box-shadow: none;
        }
    }

    slider {
        box-shadow: none;
        background: transparent;
        border: none;
        min-height: 1px;
        min-width: 1px;
    }

    .sink-selector .sink-item {
      all: unset;
      min-height: 32px;
      padding-left: 8px;
      border-radius: $radius;
      image {margin-right: 8px;}

      &:hover {background: $overlay_blur;}
    }

  }
}
