.clock {
  padding: 1em 0 1em;

  grid {
    padding: 4px;
    // background: linear-gradient(to right, $rose, $pine);

    label {
      margin: 1px;
      border-radius: 3px;
      min-height: 16px;
      min-width: 16px;
      font-size: 8px;
      transition: 200ms;
      font-size: 0;
      color: $rose;
      font-family: $global-font-family;
      background: $overlay;

      &.on {background: $pine}
      &.second {font-size: 0px;background: $rose;}
      &.on.second {background: $iris}
    }
  }
}

.weather-info {
  .weather-icon {
    font-size: 72px;
    margin: 0 8px 0 16px;
  }

  .weather-ext {
    color: $muted;
    image {
      font-size: 24px;
      margin-right: 8px;
    }
  }
}

.weather-forcast {
  color: $muted;
  margin: -16px 0 16px 0;
  .forcast-item :first-child {
    font-size: 40px;
    padding-bottom: 6px;
  }
}

calendar {
  all: unset;
  padding: 8px;
  font-size: $font-size;

  // &.header { border: none; }
  &:selected { color: $rose; }
  &:indeterminate { color: $muted; }

  &.highlight { 
    background: transparentize($highlightLow, 0.2);
    border-radius: $radius;
    color: $rose; 
  }
}
