window#settings .settings {
  @include window;
  margin: .5em;
  padding: 8px;
  min-width: 326px;
  font-family: $global-font-family;

  $height: 36px;
  $round-radius: 500px;

  .settings-head {
    .head-control {
      margin-bottom: .5em;

      label.update {
        color: $rose;
        background: $card_bg;
        margin-left: 1px;
        border-radius: 3px;
        padding: 0 2px;
      }

      button.round-button {
        all: unset;
        font-size: 20px;
        min-width: $height;
        min-height: $height;
        background: $card_bg;
        border-radius: 200px;
        // border: 1px solid transparentize($muted, 0.7);

        &:hover { box-shadow: $card_bs; border: 0px solid transparent }
        &.sys-update, &.battery { margin-left: .5em; }

        &.battery .critical {color: $love}
        &.battery .charging {color: $foam}
      }
    }

    .head-context {
      // padding: .5em;
      // background: $card_bg;
      border-radius: $radius;

      .theme-selector {
        border-radius: $round-radius;
        min-height: $height;
        border: 1px solid $muted;
        button {
          all: unset;

          label { background: $overlay_blur; border-radius: 3px; padding: 0 3px; }
          &:hover { box-shadow: $box-shadow-t; }

          &.rose {
            // pine, base, text, base, rose
            background-image: linear-gradient( 45deg,
              #3e8fb0 0%, #3e8fb0 20%,
              #232136 20%, #232136 40%,
              #e0def4 40%, #e0def4 60%,
              #232136 60%, #232136 80%,
              #ea9a97 80%, #ea9a97 100%,
            );
          }

          &.dawn {
            // pine, base, text, base, rose
            border-radius: $round-radius 0 0 $round-radius;
            background-image: linear-gradient( 45deg,
              #286983 0%, #286983 20%,
              #faf4ed 20%, #faf4ed 40%,
              #575279 40%, #575279 60%,
              #faf4ed 60%, #faf4ed 80%,
              #d7827e 80%, #d7827e 100%,
            );
          }

          &.moon {
            // pine, base, text, base, rose
            border-radius: 0 $round-radius $round-radius 0;
            background-image: linear-gradient( 45deg,
              #3e8fb0 0%, #3e8fb0 20%,
              #232136 20%, #232136 40%,
              #e0def4 40%, #e0def4 60%,
              #232136 60%, #232136 80%,
              #ea9a97 80%, #ea9a97 100%,
            );
          }
        }
      } 

      .battery-bar {
        all: unset;
        min-height: 32px;
        trough {
          all: unset;
          min-height: $height;
          border: 1px solid $muted;
          border-radius: 100px;

          .empty {
            border: none;
            background: $overlay;
            border-radius: 100px;
          }

          .filled {
            min-width: $height;
            border: none;
            background: $surface;
            border-radius: 100px;
          }
        }
      }

      .battery-info {
        font-size: 1.2em;
        font-weight: bold;
        font-family: 'JetBrainsMono';
      }

      .battery-tip {
        border-left: 1px solid $text;
        margin-left: 8px;
        padding-left: 8px;
        font-size: 0.6em;
      }

      .command-help {
        min-height: $height;
        border: 1px solid $muted;
        border-radius: $round-radius;
        padding: 0 24px;
        label {color: $muted;font-size: 0.8em;}
      }

      .system-actions {
        color: $text;
        min-height: $height;
        border: 1px solid $muted;
        border-radius: $round-radius;
        background-image:linear-gradient(to right, $rose, $pine);

        button {
          all: unset;
          
          border-radius: 0;
          font-size: 20px;

          &:first-child {margin-left: 0;border-radius: $round-radius 0 0 $round-radius}
          &:last-child {margin-right: 0;border-radius: 0 $round-radius $round-radius 0}
          &:hover {background: $overlay_blur; box-shadow: $box-shadow-t;}
        }
      }

    }
    
  }
}
