window .ags-bar {
    font-family: $global-font-family;
    background: $base_blur;
    min-height: 28px;
    font-size: $font-size;
    color: $text;

    button { all: unset; }
    label { all: unset; }

    .panel-button {
        button {margin: 0 2px}
        &:hover, &.active {
          background: transparentize($highlightLow, 0.6);
        }
    }

    .bar-left {
        .workspaces button {
            min-width: 5px;
            min-height: 5px;
            background: $pine;
            color: $text;
            font-size: 0;
            border-radius: 10px;
            transition: 100ms;
            margin: 0 4px;

            &.active { color: $rose; }
            &.occupied, &.active {
                background: transparent;
                font-size: $font-size;
            }
        }
    }

    .bar-center {
        .notification {color: $rose;}
    }

    .bar-right {
        button {
            margin: 0 4px;
            font-size: 14px;

            &.recorder {
              color: $love;
              background:$highlightLow;
              border: 1px solid $text;
              padding: 1px 6px;
              border-radius: 12px;
              &:hover {background: $text}
            }

            &.battery .critical {color: $love}
            &.battery .charging {color: $foam}
        }

        .usage label.stats {
          background:$highlightLow;
          padding: 0px 6px;
        }
    }
}
